.o-container {
  inline-size: 100%;
  padding-block: var(--space-16);
  margin-inline: auto;
}

@media (min-width: 48rem) {
  .o-container {
    max-inline-size: 768px;
    padding-block: var(--space-20);
  }
}
@media (min-width: 64rem) {
  .o-container {
    max-inline-size: 1024px;
    padding-block: var(--space-24);
  }
}
@media (min-width: 80rem) {
  .o-container {
    max-inline-size: 1280px;
    padding-block: var(--space-32);
  }
}
