.c-skills__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.c-skills__title {
  font-size: var(--size-h1);
  font-weight: var(--font-weight-medium);
}

.c-skills__body {
  padding-block: var(--space-20);
}

.c-skills__list {
  display: grid;
  gap: var(--space-4);
}
.c-skills__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4);
  border: 1px solid var(--color-border-subtle);
  padding: var(--space-4);
  box-shadow: var(--shadow-sm);
  transition:
    border-color 240ms ease,
    transform 240ms ease,
    box-shadow 240ms ease;
}
.c-skills__card--done:hover {
  border: 1px solid var(--color-border-done);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}
.c-skills__card--current:hover {
  border-color: var(--color-border-current);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}
.c-skills__card--applying:hover {
  border-color: var(--color-border-applying);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}
.c-skills__card-title {
  font-size: var(--size-h3);
  font-weight: var(--font-weight-regular);
  padding-block-end: var(--space-4);
}
.c-skills__card-desc {
  font-weight: var(--font-weight-thin);
  color: var(--color-text-secondary);
}

@media (min-width: 48rem) {
  .c-skills__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 64rem) {
  .c-skills__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
